# Chặn toàn bộ thư mục build rác của Maven
src/main/resources/application.properties
target/

# Chặn tất cả các file class lẻ tẻ do Java tự biên dịch
*.class

# Chặn các file cấu hình riêng của VS Code (nếu có)
.settings/
.factorypath
.project
.classpath

app.properties
compile_error.log
hs_err_pid*.log
replay_pid*.log